.c-container {
  border-style: solid;
  border-color: #1eff16;
  background-color: rgba(33, 255, 23, 0.15);
}
.module-c-sub-a-active{
  border-style: solid;
  border-color: #ff5f19;
}
.module-c-sub-b-active{
   border-style: solid;
   border-color: #fff44a;
 }

