a:active {
  background-color: yellow;
}
.module-a-active{
  border-style: solid;
  border-color: #ff6e89;
}
.module-b-active{
  border-style: solid;
  border-color: #0c46ff;
}
.module-c-active{
  border-style: solid;
  border-color: #1eff16;
}
