<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    {{title}}!!
  </h1>

  <div>
    <h3><i>Property Binding [Unsafe URL Bypass Dom Sanitizer - Browser Module]</i></h3>
    <img width="50%" height="25px" [src]="imageSrc"/>
    <img width="50%" height="25px" bind-src="imageSrc"/>
    <hr>
  </div>


  <div>
    <h3><i>Two Way Binding</i></h3>
    <input type="text" [(ngModel)]="property"><br>
    Result >> {{property}}
    <hr>
  </div>


  <div>
    <h3><i>List Repeater + Style Props </i></h3>
    <p *ngFor="let list of listArray">
      <span [style.color]="list.color">{{list.color|uppercase}}</span>
    </p>
    <p [ngStyle]="{color:inputValue}">
      DYNAMIC COLOR: <input type="text" [(ngModel)]="inputValue" placeholder="Color Name">
    </p>
    <hr>
  </div>


  <div>
    <h3><i>Structural Directive [*ngIf (then,else), ngSwitch,..]</i></h3>
    <div *ngIf="showMainContent;then availTemplate else unavailTemplate"></div>
    <ng-template #availTemplate>Content Available Template</ng-template>
    <ng-template #unavailTemplate>Content Unavailable Template</ng-template>
    <br><br>
    <button (click)="showMainContent=!showMainContent">NgIf Toggler</button>

    <div [ngSwitch]="switchCaseVal.active">
      <p *ngSwitchCase="'red'">ngSwitch - Red - Active</p>
      <p *ngSwitchCase="'green'">ngSwitch - Green - Active</p>
      <p *ngSwitchCase="'blue'">ngSwitch - Blue - Active</p>
      <p *ngSwitchCase="'cyan'">ngSwitch - Cyan - Active</p>
      <p *ngSwitchCase="'magenta'">ngSwitch - Magenta - Active</p>
    </div>
    <button (click)="switchCaseVal.active='cyan'">Switch Cyan</button>
    <button (click)="switchCaseVal.active='green'">Switch Green</button>
    <hr>
  </div>


  <div>

    <h3><i>@HostListener [Passing Component Method into Attribute Directive] => Console</i></h3>
    <button [appDirective]="passComponentClickHandler">Component <-> Attribute Directive</button>

    <h3><i>@HostBinding [Default Attribute Setup - 'cust_bool_prop' (true/false)] => Inspect</i></h3>
    <button [appDirective]="passComponentClickHandler">Attribute Bool Toggler</button>
    <hr>

    <h3><i>Binding Second Property [Static] => Console</i></h3>
    <button [appDirective]="passComponentClickHandler" secondProperty="__static_value__">Static Content</button>

    <h3><i>Binding Second Property [Dynamic] => Console</i></h3>
    <p *ngFor="let list of listArray">
      <button [appDirective]="passComponentClickHandler" [secondProperty]="list">
        Dynamic Content [{{list.color}}]
      </button>
    </p>
    <hr>

    <h3><i>Directive Host Events [Invoking Directive's Own Method] => Console</i></h3>
    <h5>Note: Comment out - /* @HostListener Fn*/ - then workon</h5>
    <button appDirective>Directive Host Events</button>

  </div>


</div>


